<section class="cart bg-gray-100 py-16">
    <div class="order container mx-auto  w-1/2">
        <div class="flex items-center border-b border-gray-400 pb-4 py-4">
            <img src="https://th.bing.com/th/id/OIP.hy2ZHgfL8xlOQUkJfe-hVQHaFs?rs=1&pid=ImgDetMain" height="50px" width="50px" margin-top="10px" alt="">
            <h1 class="font-bold ml-4 text-2xl">Order Summary</h1>
        </div>
        <div class="pizza-list">
            <div class="flex items-center">
                <img src="https://th.bing.com/th/id/OIP.YCXNIX971ixAhZwz46AcAwHaHg?rs=1&pid=ImgDetMain" style="height: 100px; width: 100px; margin-top: 10px;" alt="">
                <div class="flex-1 ml-4">
                    <h1 class="font-bold text-lg">Marinara</h1>
                    <span class="text-xs">MEDIUM</span>
                </div>
                <span  class="flex-1">1 Pcs</span>
                <span class="font-bold">₹350</span>
            </div>
            <div class="flex items-center">
                <img src="https://th.bing.com/th/id/OIP.YCXNIX971ixAhZwz46AcAwHaHg?rs=1&pid=ImgDetMain" style="height: 100px; width: 100px; margin-top: 10px;" alt="">
                <div class="flex-1 ml-4">
                    <h1 class="font-bold text-lg">Marinara</h1>
                    <span class="text-xs">MEDIUM</span>
                </div>
                <span  class="flex-1">1 Pcs</span>
                <span class="font-bold">₹350</span>
            </div>
            <div class="flex items-center">
                <img src="https://th.bing.com/th/id/OIP.YCXNIX971ixAhZwz46AcAwHaHg?rs=1&pid=ImgDetMain" style="height: 100px; width: 100px; margin-top: 10px;" alt="">
                <div class="flex-1 ml-4">
                    <h1 class="font-bold text-lg">Marinara</h1>
                    <span class="text-xs">MEDIUM</span>
                </div>
                <span  class="flex-1">1 Pcs</span>
                <span class="font-bold">₹350</span>
            </div>
        </div>
        <hr>
        <div class="text-right py-4">
            <div>
                <span class="text-lg font-bold">Total Amount:</span>
                <span class="amount text-2xl font-bold ml-2" style="color:rgb(231, 75, 75)">₹350</span>
            </div>
            <div>
                <form action="" class="mt-12">
                    <input class="border border-gray-400p-2 w-1/2 mb-4" type="text" placeholder="Phone number">
                    <input class="border border-gray-400p-2 w-1/2" type="text" placeholder="Address">
                    <div class="mt-4">
                        <button class="px-6 py-2 rounded-full text-white font-bold mt-4 bg-red-500 hover:bg-red-700">Order Now</button> 
                    </div>
                </form>
            </div>
            <!-- <a href="" class="inline-block cursor-pointer px-6 py-2 rounded-full text-white font-bold mt-6 bg-red-500 hover:bg-red-700">Login to continue</a> -->
        </div>
    </div>
<!-- <div class="empty-cart py-4">
    <div class="container mx-auto text-center">
        <h1 class="text-3xl font-bold mb-2"> Oops!! Cart Empty :(</h1>
        <p class="text-lg text-gray-500">You probably haven't ordered a pizza yet.<br> To order a pizza, go to the main page.</p>
        <img src="https://simdustry.de/wp-content/uploads/2021/05/shop2.png" style="height: 500px; margin-left:300px; margin-top: 15px;" alt="empty-cart">
        <a href="/" class="px-6 py-2 rounded-full text-white font-bold mb-2 bg-red-500 hover:bg-red-700" style="margin-top: 60px;">Go back</a>
    </div>
</div> -->

</section>